# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Mongo example
QUERYSTRING_MONGODB='mongodb://localhost:27017/db_name'

# Jwt example
JWT_SECRET=null
JWT_EXPIRES_IN='0s'

# RabbitMQ example
RABBITMQ_CONNECTION='amqp://user:password@rabbitmq:5672'
